/* structure */
body{
    font-family:'Times New Roman', Times, serif;
    background-color: #D5F2E8;
    border: 1px solid #4B94F2;
    border: wrap;
}
#content{
    width:80%;
    margin:auto;
}
#main-header{
    background-color: #AED9A3;
}
#sidebar{
    padding:5px;
    background-color: #82DAF5;
}
footer{
    background-color: #AED9A3;
    padding: 10px;
}
.article{
    padding: 5px;
   background-color:#ffbff8;
}
.section{
    padding: 5px;
    background-color:#ffbff8;
}

/* Typography */
#main-header h1 {
    text-align: center;
    padding-top:10px;
}
h1{
    color: #D5F2E8;
}
h2{
    color: #D5F2E8;
    text-align: center;
}
p{
    text-align: center;
    color: #D5F2E8;
    font-size: 15px;
}
ul{
    text-align: left;
    color: #D5F2E8;
    font-size: 15px;
}
.article{
    text-align: center;
    color: #D5F2E8;
    font-size: 15px;
}
.section{
    text-align: center;
    color: #D5F2E8;
    font-size: 15px;
}
/* Navigation */
#main-nav ul, #quick-links{
    list-style-type: none;
    padding-left:0;
}
#main-nav li{
    background-color: #867CB6;
    padding:7px;
    border-bottom: 1px solid #4B94F2;
}
#main-nav a{
    color: white;
    text-decoration: none;
}
 /*pics*/
 img{
    max-width: 100%;
 }
 /*flex*/
 @media (min-width: 1000px) {
    .columns {
        display:flex;
    }

    #main-nav li {
        flex:1;
        border:0;
    }

    .one {
        flex:1;
    }

    .two {
        flex:2;
    }

    .three {
        flex:3;
    }

    .four {
        flex:4
    }
}