/* Structural */ 
body {
    font-family: Georgia, Helvetica, sans-serif;
    background-image: url(images/stripes.jpg);
}
#content {
    background-color: rgba(112, 11, 11, 0.753);
    width: 80%;
    margin:auto;
    padding: 2%;
    border-radius: 0%;
    border: 2px solid #680303;
}

/* Typography */
h1{
    color: #000000;
    size: 25px;
    text-align: center;
}
h2{
    color: #000000;
    size: 20px;
    text-align: center;
}
p{
    color: #ffffff;
    size: 15px;
}
/* images */
img {
    width: 40%;
    padding: 5px;
    margin: auto;
}
/* table */
table {
    width: 100%;
    border-collapse: collapse;
    padding: 5px;
}

th, td {
    border: 1px solid #680303;
    padding: 10px;
    text-align: center;
}
th{
    background-color: #535353a3;
    color: #000000;
}
td{
    background-color: #f7f3f3cc;
    color: #000000;
}
