
/*General Styling*/
body {
	background: rgb(249, 214, 249);
	font-family: "Times New Roman", Times, serif;
    margin: 40px;
}

h1 {
    text-align: center;
    color: rgb(6, 4, 57);
}

h1:hover{
    color: rgb(6, 4, 57);
    text-decoration: overline underline;
    text-underline-offset: 5px;
}

/*Project Styling*/
h3 {
    text-align: center;
    font-style: italic;
}

.projects{
    display:flex;
    flex-wrap:wrap;
}
.project{
    width:50%;
    margin: 20px;
    padding: 40px 20px;
    background:#a4abf8;
    border-radius: 7%;
}

.project img{
    width: 300px;
    height: 300px;
    margin: 10px;
    border: 2px solid rgb(126, 14, 201);
    display: block;
    margin: auto;
}

.project img:hover{
    border: 2px solid white;
}

a{
    text-decoration: none;
    color: rgb(126, 14, 201);
}

.project a:hover{
    color: white;
}

.project p {
    text-align: center;
    margin: 15px;
}

/* About Section Styling */

.about{
    display:flex;
    flex-wrap:wrap;
    margin-right: 100px;
    margin-left: 100px;
    justify-content: center;
}

.about img {
    width: 300px;
    height: 300px;
    margin: 10px;
    border: 2px solid rgb(126, 14, 201);
    display: block;
    margin: auto;
}

.about p {
    width:50%;
    text-align: center;
    margin: auto;
    line-height: 125%;
}

/* Skills Section Styling */
.skills {
    margin: 40px;
}

/* Contact Section Styling */
.contact{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
}

.contact a {
    margin-left: 50px;
    margin-right: 50px;
}

.contact a:hover {
    text-decoration: underline;
}

