p { 
  text-align: center;   
  color: green;
}
body {
	background: plum;
	font-family: Georgia, Helvetica, sans-serif;
}
#header{
    color: navy;
}
.about {
    text-align: center;
    color: purple;
}
.projects {
    background: #00b3d1;
}

.left {
    text-align: left;
}
.green {
    color: teal;
}
.attention {
    font-weight: bold;
}



