p { 
  text-align: center;   
  color: green;
}
body {
	background: plum;
	font-family: Arial, Helvetica, sans-serif;
}
#header{
    color: navy;
}
.about {
    text-align: center;
    color: purple;
}



