/*header*/
#main-header{
    background-color: black;
    position: relative;
    padding-top: 25px;
}

#main-header h1{
    font-size: 30px;
    text-align: right;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    margin: 0;
    padding: 30px;
    
}
body{
    margin: 0;
    font-family: 'Courier New', Courier, sans-serif;
}
h1{
    font-size: 30px;
    text-align: right;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

#logo {
    position:absolute;
    left: 30px;;
    top: 20px;
    width: 150px;
    height: 100px;
}
#content{
    width: 100%;
}
 
/*navigation*/
#main-nav{
    background-color: #75000A;
    padding: 10px;
}

#main-nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

#main-nav li{
    flex: 1;
    text-align: center;
}

#main-nav a{
    color: white;

    padding: 10px;
    display: block;
    text-decoration: none;
}

/*herosection*/
#hero{
    width: 100%;
    height: auto;
}

/*images*/
#main-header img{
    width:auto;
    height: 100px;
}

img {
    max-width: 100%;
    height: auto;
}
#hero img{
    width: auto;
    height: auto;
    display: block;
}
/* Footer */

 #footer{
    background-color: #75000A;
    color: white;
    padding: 35px;
    }

#footer ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
    #footer-links-title {
        margin:0;
    }

  #footer-copy{
    text-align: center;
    margin-top: 30px;
  }  
    #footer-social {
        position:absolute;
        top:5px;
        right:5px;
    }

/*flex*/
.columns{
    display: flex;
}

.one{
    flex: 1;

}


/*inoformation sections*/
.info-section{
    padding: 45px;
}

.info-section .columns {
    align-items: center;
    gap:38px;
}

.info-section img {
    max-width: 100%;
    height: auto;
}

.info-section h2 {
    font-size: 30px;
    color: #75000A;
}

.info-section a {
    color: #75000A;
    text-decoration: none;
}


@media (max-width: 600px) {
    #logo{
        position: static;
        display: block;
        margin: auto;
    }

    #main-nav ul{
        flex-direction: column;
    }

    #footer-links-title {
        margin:0;
    }


    #content {
        width:80%;
        margin:auto;
    }

    .columns {
        display:flex;
    }

    #main-nav li {
        flex:1;
        border: 1px white solid;
    }

    .columns{
        display: block;
    }

    .info-section .columns {
        display: block;
    }

    .one {
        flex:1;
    }

    .info-section img {
        margin-bottom: 20px;
    }
    .info-section .columns{
        display: block;
    }
    #footer .columns{
        display: block;
    }

}