/*header*/
#top-header{
    background-color: black;
    padding: 10px;
}

#top-header a{
    color: white;
    text-decoration: none;
    text-align: right;
}

#main-header{
    background-color: black;
    position: relative;
    padding-top: 25px;
}

#main-header h1{
    font-size: 30px;
    text-align: right;
    font-family: 'Arial', Arial, Helvetica, sans-serif, monospace;
    color: white;
    margin: 0;
    padding: 30px;
    
}

body{
    margin: 0;
    font-family: 'Arial', Arial, Helvetica, sans-serif, sans-serif;
}
h1{
    font-size: 30px;
    text-align: right;
    font-family: 'Arial', Arial, Helvetica, sans-serif, monospace;
    color: white;
}

#logo {
    position:absolute;
    left: 30px;;
    top: 60px;
    width: 150px;
    height: 100px;
}
#content{
    width: 100%;
}

/*navigation*/
#main-nav{
    background-color: #75000A;
    padding: 10px;
}

#main-nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

#main-nav li{
    flex: 1;
    text-align: right;
}

#main-nav a{
    color: white;

    padding: 10px;
    display: block;
    text-decoration: none;
}

/*herosection*/
#hero{
    width: 100%;
    height: auto;
}

/*images*/
#main-header img{
    width:auto;
    height: 100px;
}

img {
    max-width: 100%;
    height: auto;
}
#hero img{
    width: 100%;
    height: 450px;
    display: block;
    object-fit: cover;
}
/*Footer links */
#footer-links header {
    position:relative;
}

#footer-logo {
    border-radius:20px;
}

#footer-social {
    list-style-type: none;
    width:fit-content;
    margin:auto;
}

#footer-social li {
    display:inline-block;
    padding:10px;
    font-size:24px;
}

#footer-social a {
    list-style-type: none; 
}

#footer-links-title {
    width:fit-content;
    margin:auto;
    align-items: flex-end;
    padding: 20px 10px;
}

#footer-links-title h1, #footer-links h2 {
    margin:0;
    padding-left:10px;
}

#footer-links-title h2 {
    color: var(--highlight-bg);
}

#footer-links {
    background: var(--footer);
    color: var(--light-text);

}

#footer-links h1, #footer-links h2, #footer-links h3 {
    color: var(--light-text);
}

#footer-links a {
    color:var(--light-text);
}

#footer-links h3 {
    text-transform: uppercase;
    color: var(--highlight-bg);
}

#footer-links .columns section {
    padding: 20px 35px;
}

#footer-links section ul {
  column-width: 200px;
  column-gap: 10px; 
  padding-left: 0;
  list-style-type: none;
}

#footer-links a {
    text-decoration: none;
}

/*Footer Copy */
#footer-copy {
    background: var(--footer-copy-bg);
    color: var(--headings);
}

#footer-copy a {
    color: var(--headings);
}


/*flex*/
.columns{
    display: flex;
}

.one{
    flex: 1;

}
/*button*/
.button{
    border: 2px solid currentColor;
    display: inline-block;
    font-weight: bold;
    margin: 12px 0 23px;
    padding: 10px 18px;
    text-decoration: none;
}


/*inoformation sections*/
#info{
    width: 80%;
    text-align: center;
    color: black;
    background-color: #f5f5f5;
    font-weight: bold;
    padding: 50px;
    margin: auto;

}
.info-section{
    padding: 45px;
    background-color: #75000A;
}

.info-section .columns {
    align-items: center;
    gap:38px;
    background-color: #75000A;
}

.info-section img {
    max-width: 100%;
    height: auto;
}

.info-section h2 {
    font-size: 30px;
    color: white;
    font-weight: bold;
}

.info-section p {
    color: white;
    font-weight: bold;
    font-size: 18px;
}


.info-section a {
    color: white;
    text-decoration: none;
}


@media (max-width: 600px) {
    #logo{
        position: static;
        display: block;
        margin: auto;
    }

    #main-nav ul{
        flex-direction: column;
    }

    #footer-links-title {
        margin:0;
    }


    #content {
        width:80%;
        margin:auto;
    }

    .columns {
        display:flex;
    }

    #main-nav li {
        flex:1;
        border: 1px white solid;
    }

    .columns{
        display: block;
    }

    .info-section .columns {
        display: block;
    }

    .one {
        flex:1;
    }

    .info-section img {
        margin-bottom: 20px;
    }
    .info-section .columns{
        display: block;
    }
    #footer .columns{
        display: block;
    }

}