/* Structure */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: gray;
}

/* Header */
#main-header {
    background-color: bisque;
    padding-top: 3%;
    position: relative;
}

#logo {
     position: absolute; /*stopped gap between logo and header */
     left: 1em;
     top: 1em;
}

/*hero*/
#hero {
    position: relative;
}
#hero-decription {
    position: absolute;
    top:60%;
    left:5%;
    background-color: aliceblue;
    padding: 10px;
}

.hero-arrow {
    position: absolute;
    top: 28%;
    font-size: 8em;
    color: white;
    text-decoration: none;

}

#hero-right {
    right:0;
}
#hero-left {
    left:0;
}

/*sidebar and info */
#sidebar, #info {
    padding:5px;
}

#sidebar {
    background-color: aliceblue;
}

#info {
    background-color: aquamarine;
}

/* Navigation */
#main-nav ul, #quick-links {
    list-style-type: none;
    padding-left:0;
}

#main-nav li {
    background-color: darkslateblue;
    padding: 10px;
    border-bottom: 1px solid white;
}

#main-nav a {
    color:white;
    text-decoration: none;  /* Remover underline */
}

/* images */
img {
    max-width:100%;
}

/* Typography */
#main-header h1 {
    text-align: center;
    padding-top:15px;
}

/* Responsive Design */

/* 600 px or larger */
@media (min-width: 1000px) {
    .columns {
        display:flex;
        #content {
    width:80%;
    margin:auto;
}

    }

    #main-nav li {
        flex:1;
        border:0;
    }

    .one {
        flex:1;
    }

    .two {
        flex:2;
    }

    .three {
        flex:3;
    }

    .four {
        flex:4
    }

    .five {
        flex:5;
    }

    .six {
        flex:6;
    }
}