/* main */
:root{
    --background:#EBF5DF;
    --headings: #E8871E;
    --heading2: #EDB458;
}

body{
    background-color: white;
    font-family: Garamond, Arial, sans-serif;
    padding:0px;
    margin:0%;
}

#content{
    background-color: var(--background);
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 18px;
}

.hidden{
    display: none;
}

/*typography*/
h1{
    color: var(--headings);
    font-size: 36px;
}

h2{
    color: #EDB458;
    font-size: 24px;
}

h3{
    color: var(--headings);
}

p{
    color: var(--heading2);
}

/*nav*/
nav ul{
    list-style-type: none;
    padding: 0;
}

nav li + li::before{
    content: " | ";
}

nav li{
    display: inline;
    color: var(--headings);
    cursor: pointer;
}

/* small screens*/
@media only screen and (max-width: 600px){
    #content {
        width: 90%
    }

    #nav ul{
        text-align: left;
    }

    #nav li {
        display: block;
        padding: 4px 0;
    }

    #nav li:not(:last-child)::after{
        content: "";
    }
}