/* Structural */ 
body {
    font-family: Georgia, Helvetica, sans-serif;
    background-color: #e9aeae;
}
#content {
    background-color: rgb(191, 182, 138,);
    width: 80%;
    margin:auto;
    padding: 2%;
    border-radius: 0%;
    border: 2px solid #c9a7a7;
}
/* Typography */
h1{
    color: #A65D6A;
    font-size: 30px;
    text-align: center;
}
h2{
    color: #A65D6A;
    font-size: 17px;
    text-align: center;
}
h3{
    color: #f8f4f4;
    font-size: 20px;
    text-align: left;
}
p{
    color: #f8f4f4;
    size: 15px;
}
footer{
    color: #c9a7a7;
    size: 15px;
    text-align: center;
}
/* links */
ul{
    color: #c9a7a7;
    font-size: 15px;
}
a{
    color: #c9a7a7;
    font-size: 15px;
    text-decoration: none;
}
a:visited{
    color: #c9a7a7;
    font-size: 15px;
    text-decoration: none;
}
/*assignment Styling*/
h3 {
    text-align: center;
    font-style: italic;
    color: #f5cdc7;
}

.assignment-container{
    display:flex;
    flex-wrap:wrap;
}

.assignment{
    width: 30%;
    margin: 10px;
    padding: 15px 10px;
    background:#80856e;
    border-radius: 15px;
}

.assignment img{
    width: 300px;
    height: 300px;
    margin: 10px;
    border: 5px solid #f5cdc7;
    display: block;
    margin: auto;
}

.assignment img:hover{
    border: 5px solid white;
}

a{
    text-decoration: none;
    color: white;
}

.assignment a:hover{
    color: #80856e;
}

.assignment p {
    text-align: center;
    margin: 15px;
    color: #f5cdc7;
}
