/* Structural */ 
body {
    font-family: Georgia, Helvetica, sans-serif;
    background-color: #e9aeae;
}
#content {
    background-color: rgb(191, 182, 138,);
    width: 80%;
    margin:auto;
    padding: 2%;
    border: 2px solid #c9a7a7;
}
/* Typography */
h1{
    color: #A65D6A;
    font-size: 30px;
    text-align: center;
}
h2{
    color: #A65D6A;
    font-size: 17px;
    text-align: center;
}
h3{
    color: #f8f4f4;
    font-size: 20px;
    text-align: left;
}
p{
    color: #f8f4f4;
    size: 15px;
}
footer{
    color: #c9a7a7;
    size: 15px;
    text-align: center;
}
/* links 
ul{
    color: #c9a7a7;
    font-size: 15px;
}
a{
    color: #c9a7a7;
    font-size: 15px;
    text-decoration: none;
}
a:visited{
    color: #c9a7a7;
    font-size: 15px;
    text-decoration: none;
}*/
/*assignment Styling*/
h3 {
    text-align: center;
    font-style: italic;
    color: #f5cdc7;
}

.assignment{
    display:flex;
    flex-wrap:wrap;
    background-color: #7B8C56;
}

.assignment{
    width: 30%;
    margin: 10px;
    padding: 10px;
    background: #7B8C56;
    border-radius: 4px;
}


.assignment img{
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.assignment img:hover{
    border: 5px solid white;
}

a{
    text-decoration: none;
    color: white;
}

.assignment a:hover{
    color: #80856e;
}

.assignment p {
    text-align: center;
    margin: 15px;
    color: #f5cdc7;
}
/* 600 px or larger */
@media (min-width: 1000px) {
    .columns {
        display:flex;
    }

    #main-nav li {
        flex:1;
        border:0;
    }

    .one {
        flex:1;
    }

    .two {
        flex:2;
    }

    .three {
        flex:3;
    }

    .four {
        flex:4
    }
}