/*body*/
:root{
    --background:#c5decd;
    --headings: #495159;
    --cards-border: #fac9b8;
    --hero: #c5decd;
    --header: #FAF1E8;
    --cards-bg: #FAF1E8;
}

body{
    background-color: var(--background);
    font-family: Garamond, Arial, sans-serif;
    padding:0px;
    margin:0%;
}

/*header*/
#main-header{
    background-color: var(--background);
    position: relative;
}

/*typography*/
h1{
    font-size: 36px;
    text-align: center;
    color: var(--headings);
}

h2{
    font-size: 24px;
    text-align: center;
    color: var(--headings);
    text-decoration-style: wavy;
}

/*projects*/
.projects{
    display: block;
    flex-wrap: wrap;
    grid-template-columns: 1fr;
    padding:15px; 
}

.project-card{
    background: var(--cards-bg);
    border: 2px solid var(--cards-border);
    margin-bottom:18px;
}

.project-card h3 {
    margin: 0;
    padding: 12px 16px;
    background: var(--hero);
    color: var(--headings);
    background-color: var(--header);
    text-align: center;
}

.project-card p {
    margin: 0;
    padding: 18px;
}

/*beverage of choice dropdown menu*/
#beverages{
    font-size: 12px;
    margin: 10px;
    padding: 5px;
    border-radius: 2px;
    border: 2px solid var(--cards-border);
}

#beverage-output{
    display: block;
    margin-top: 5px;
}

/*images and stickers*/
img{
    width:150px;
    padding: 5px;
}

#sticker-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

/*flexbox*/
/* 600 px or larger */
@media (min-width: 1000px) {
    /* Structure */
    #content {
        width:80%;
        margin:auto;
    }

    .columns {
        display:flex;
    }

    .projects {
        grid-template-columns: repeat(3, 1fr);
        gap: 18px;
        padding: 20px 0 40px;
    }

    .project-card {
        margin-bottom: 10px;
        min-height: 200px;
    }
}